@import "../../theme/_variables";
@import "../../theme/_mixing";

.container {
  @include display-flex(row, center, center);
  margin-top: 15%;

  &__msg {
    @include media(xs) {
      font-size: 14px;
    }
    color: $black;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    width: 520px;
  }

  &__address {
    @include display-flex();
  }

  &__street {
    @include input;
    margin-right: 20px;
    width: 495px;
    font-size: 10px;
    @include media(xs) {
      height: 30px;
      width: 165px;
    }
  }

  &__apt {
    @include input;
    width: 70px;
    @include media(xs) {
      height: 30px;
      width: 50px;
      font-size: 10px;
    }
  }

  &__button {
    @include button-primary;
    @include media(xs) {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      font-size: 11px;
    };
    cursor: pointer;
    width: 275px;
  }

  &__step {
    color: $gray;
    margin-top: 30px;
  }
}