@import "../../theme/_variables";
@import "../../theme/_mixing";

.card-container {
  @include display-flex(row, center, space-between);
  width: 597px;
  border: 1px solid $gray;
  padding: 20px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  background-color: $gray-light;
  box-shadow: 2px 2px 2px 1px #CBCCCD;
  &__button {
    background-color: $main-blue;
    color: $white;
    width: 85px;
    height: 39px;
    font-size: 18px;
    border-radius: 5px;
  }
  &__button {
    cursor: pointer;
  }
  @include media(xs) {
    font-size: 12px;
    width: 330px;
    height: 15px;
    &__button {
      width: 60px;
      height: 30px;
      font-size: 12px;
    }
  }
}