@import "../../theme/_variables";
@import "../../theme/_mixing";

.container {
  @include display-flex(column, center, center);
  margin-top: 15%;

  &__msg {
    @include media(xs) {
      font-size: 14px;
    }
    color: $black;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  &__plan {
    @include display-flex(row, center, center);
    &__selected {
      @include display-flex(column, center, center);
      border: 1px solid $gray;
      border-radius: 3px;
      padding: 20px;
      margin: 30px;
      &__space {
        margin-bottom: 20px;
      }
      &__radio {
        width: 100%;
        height: 2em
      }
    }
  }

  &__button {
    @include button-primary;
    @include media(xs) {
      width: 124px;
      height: 38px;
      border-radius: 5px;
      font-size: 11px;
    };
    cursor: pointer;
  }

  &__step {
    color: $gray;
    margin-top: 30px;
  }
}